@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap');

body{
	color: #F3F3F3;
	font-family: 'Kanit', sans-serif;
	font-size: 18px;
	margin: 0px;
	padding: 0px;
	background: #191921;
}
.forma_site{
	height: auto;
	width: 100%;
}
.shapka{
	height: 700px;
	width: 100%;
}
.forma_img_shapka{
	height: 100%;
	width: 100%;
	float: center;
}
.shapka_img{
	height: 100%;
	width: 100%;
}


/* Адаптация шапки */

@media (max-width: 500px) {
	.shapka{
		width: 100%;
		height: 300px;
	}
}
@media (min-width: 501px) {
	.shapka{
		width: 100%;
		height: 300px;
	}
}
@media (min-width: 650px) {
	.shapka{
		width: 100%;
		height: 400px;
	}
}
@media (min-width: 950px) {
	.shapka{
		width: 100%;
		height: 500px;
	}
}
@media (min-width: 1300px) {
	.shapka{
		width: 100%;
		height: 700px;
	}
}

/* Адаптация шапки */


.forma_content_shapka{
	height: 600px;
	width: 100%;
	position: absolute;
	z-index: 100;
	background: rgba(0, 0, 0, 0.7);
}


/* Адаптация block 1 */

@media (max-width: 500px) {
	.forma_content_shapka{
		width: 100%;
		height: 300px;
	}
}
@media (min-width: 501px) {
	.forma_content_shapka{
		width: 100%;
		height: 300px;
	}
}
@media (min-width: 650px) {
	.forma_content_shapka{
		width: 100%;
		height: 400px;
	}
}
@media (min-width: 950px) {
	.forma_content_shapka{
		width: 100%;
		height: 500px;
	}
}
@media (min-width: 1300px) {
	.forma_content_shapka{
		width: 100%;
		height: 700px;
	}
}

/* Адаптация block 1 */


.forma_blocks_sh{
	height: 100%;
	width: 100%;
	float: left;
}
.forma_logo{
	height: 25%;
	width: 100%;
}
.forma_dialog{
	height: 75%;
	width: 100%;
}
.text_logo{
	color: #F4F4F4;
	font-family: 'Kanit', sans-serif;
	font-size: 80px;
	margin: 0px;
	padding-top: 40px;
	text-align: center;
}
span{
	color: #492BF4;
}


/* Адаптация text shapka */

@media (max-width: 500px) {
	.text_logo{
		font-size: 40px;
		padding-top: 10px;
	}
}
@media (min-width: 501px) {
	.text_logo{
		font-size: 40px;
		padding-top: 10px;
	}
}
@media (min-width: 650px) {
	.text_logo{
		font-size: 60px;
		padding-top: 7px;
	}
}
@media (min-width: 950px) {
	.text_logo{
		font-size: 70px;
		padding-top: 10px;
	}
}
@media (min-width: 1300px) {
	.text_logo{
		font-size: 80px;
		padding-top: 40px;
	}
}


/* Адаптация text shapka */


.forma_dialog_num_1{
	height: 100%;
	width: 50%;
	float: left;
}
.forma_dialog_num_2{
	height: 100%;
	width: 50%;
	float: left;
}
.forma_icon_num{
	height: 100%;
	width: 18%;
	float: left;
}
.forma_text_num{
	height: 100%;
	width: 80%;
	float: left;
}
.forma_icon{
	height: 20%;
	width: 100%;
	margin-top: 20px;
}
.forma_text{
	height: 20%;
	width: 100%;
	margin-top: 20px;
}
.img_sh{
	height: 100%;
	width: 100%;
}
.text_dialog{
	color: #FFF8E0;
	font-family: 'Kanit', sans-serif;
	font-size: 40px;
	font-weight: 5;
	margin: 0px;
	padding: 20px;
	text-align: left;
}


/* Адаптация text shapka */


@media (max-width: 500px) {
	.text_dialog{
		font-size: 15px;
		padding: 5px;
	}
}
@media (min-width: 501px) {
	.text_dialog{
		font-size: 15px;
		padding: 8px;
	}
}
@media (min-width: 650px) {
	.text_dialog{
		font-size: 20px;
		padding: 5px;
	}
}
@media (min-width: 950px) {
	.text_dialog{
		font-size: 30px;
		padding: 10px;
	}
}
@media (min-width: 1300px) {
	.text_dialog{
		font-size: 40px;
		padding: 20px;
	}
}

/* Адаптация text shapka */



/* Шапка завершена */




.forma_blocks{
	height: 700px;
	width: 100%;
	float: left;
}
.forma_blocks_left{
	height: 100%;
	width: 50%;
	float: left;
}
.forma_blocks_right{
	height: 100%;
	width: 50%;
	float: left;
}
.forma_blocks_left_img{
	height: 80%;
	width: 100%;
	float: left;
}
.forma_blocks_left_button{
	height: 20%;
	width: 100%;
	float: left;
}
.img_blocks{
	height: 96%;
	width: 100%;
	margin-top: 15px;
}
.button_blocks:hover{
	box-shadow: 0px 0px 15px 3px #1883E6;
	transform: scale(1.1);
	cursor: pointer;
}
.button_blocks{
	color: #F3F3F3;
	height: 70%;
	width: 80%;
	margin-left: 40px;
	margin-top: 10px;
	background: #1883E6;
	border: 5px solid #1979D3; 
	transition: 0.2s all;
	font-family: 'Kanit', sans-serif;
	font-size: 30px;
	border-radius: 60px;
	outline: none;
}
.forma_blocks_right_zag{
	height: 20%;
	width: 100%;
	border-top: 1px solid transparent;
}
.forma_blocks_right_content{
	height: 80%;
	width: 100%;
}
.text_blocks_right_zag{
	color: #FFF8E0;
	font-family: 'Kanit', sans-serif;
	font-size: 60px;
	margin: 15px;
	padding: 15px;
	text-align: center;
}
.zag{
	color: #1883E6;
	background: white;
	font-family: 'Kanit', sans-serif;
	font-size: 60px;
	padding: 10px;
	border-radius: 60px;
	text-align: center;
}
.forma_blocks_right_img{
	height: 100%;
	width: 20%;
	float: left;
}
.forma_blocks_right_text{
	height: 100%;
	width: 80%;
	float: left;
}
.forma_right_icon{
	height: 20%;
	width: 100%;
	margin-top: 15px;
}
.forma_right_text{
	height: 20%;
	width: 100%;
	margin-top: 15px;
	border-top: 1px solid transparent;
}
.img_blocks_icon{
	height: 100%;
	width: 100%;
}
.text_blocks{
	color: white;
	font-family: 'Kanit', sans-serif;
	font-size: 50px;
	padding-left: 50px;
	padding-top: 8px;
	margin: 0px;
	text-align: left;
}



/* Адаптация blocks */

@media (max-width: 500px) {
	.forma_blocks{
		height: 300px;
		width: 100%;
	}
}
@media (max-width: 500px) {
	.button_blocks{
		height: 50%;
		width: 70%;
		margin-left: 30px;
		margin-top: 5px;
		font-size: 10px;
	}
}

@media (min-width: 501px) {
	.button_blocks{
		height: 50%;
		width: 70%;
		margin-left: 30px;
		margin-top: 5px;
		font-size: 10px;
	}
}
@media (min-width: 501px) {
	.forma_blocks{
		height: 300px;
		width: 100%;
	}
}

@media (min-width: 800px) {
	.button_blocks{
		height: 50%;
		width: 70%;
		margin-left: 30px;
		margin-top: 5px;
		font-size: 10px;
	}
}
@media (min-width: 800px) {
	.forma_blocks{
		height: 500px;
		width: 100%;
	}
}

@media (min-width: 1000px) {
	.button_blocks{
		height: 70%;
		width: 80%;
		margin-left: 40px;
		margin-top: 15px;
		font-size: 40px;
	}
}
@media (min-width: 1000px) {
	.forma_blocks{
		height: 700px;
		width: 100%;
	}
}


@media (max-width: 500px) {
	.text_blocks{
		font-size: 15px;
		padding-left: 20px;
		padding-top: 7px;
		font-weight: 4;
	}
}
@media (max-width: 500px) {
	.text_blocks_right_zag {
		font-size: 30px;
		padding-left: 10px;
		padding-top: 4px;
	}
}
@media (max-width: 500px) {
	.zag {
		font-size: 25px;
		padding-left: 10px;
		padding-top: 4px;
	}
}

@media (min-width: 501px) {
	.text_blocks{
		font-size: 15px;
		padding-left: 20px;
		padding-top: 7px;
		font-weight: 4;
	}
}
@media (min-width: 501px) {
	.text_blocks_right_zag {
		font-size: 30px;
		padding-left: 10px;
		padding-top: 4px;
	}
}
@media (min-width: 501px) {
	.zag {
		font-size: 25px;
		padding-left: 10px;
		padding-top: 4px;
	}
}
@media (min-width: 800px) {
	.text_blocks{
		font-size: 25px;
		padding-left: 20px;
		padding-top: 13px;
	}
}

@media (min-width: 1000px) {
	.text_blocks{
		font-size: 40px;
		padding-left: 20px;
		padding-top: 15px;
	}
}
@media (min-width: 1000px) {
	.text_blocks_right_zag {
		font-size: 60px;
		padding-left: 30px;
		padding-top: 10px;
	}
}
@media (min-width: 1000px) {
	.zag {
		font-size: 60px;
		padding-left: 30px;
		padding-top: 10px;
	}
}


/* Адаптация blocks */



